<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create</title>
</head>
<body>
    <form action = "{% url 'create' %}" method = "post">
        {% csrf_token %}
        <h3>title</h3>
        <br>
        <input type = 'text' name = 'title'>
        <h3>body</h3>
        <br>
        <textarea name = 'body' id = "" cols = "60" rows = "30"></textarea>
        <button type = 'submit'>submit</button>
    </form>

    <a href = "{% url 'index' %}">index</a>
    
</body>
</html>